h1 {
  font-size: 3rem;
  margin: 7px;
  margin-top: 2%;
}

body {
  text-align: center;
  font-family: sans-serif;
}

button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 15px;
  margin: 5px;
}

.input{
  width: 50px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(var(--pixels), 30px);
  grid-template-rows: repeat(var(--pixels), 30px);
  gap: 1px;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}

.message {
  margin: 5px;
  font-size: 1.5rem;
}

.pixel {
  border: solid;
  border-radius: 7px;
}

.guess-pixel {
  border: solid;
  border-color: gray;
  border-width: 0.1px;
}

.correct {
  background: #23cc55;
  transform: rotateX(180deg);
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

.adjacent {
  background: orange;
  transform: rotateX(180deg);
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

.wrong {
  background: gray;
  transform: rotateX(180deg);
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

.correct-history {
  background: lightgreen;
}

.wrong-history {
  background: gray;
}

.adjacent-history {
  background: #ffd61f;
}

.selected {
  background: black;
}

.guesses {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.guess-board-wrapper {
  /* flex: 0; */
  /* height: 0;
width: 0; */
  /* animation: guessanimation 1s ease-out 1s */
}

.guess-board {
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(var(--pixels), 20px);
  grid-template-rows: repeat(var(--pixels), 20px);
  /* gap: 1px; */
  width: fit-content;
  margin: 10px;
  border-radius: 5px;
}

.flip {
  /* flex-grow: 1; */
  transform-origin: center;
  transform: rotateY(180deg);
  transition: 2s;
  transform-style: preserve-3d;
  /* position: relative; */
}

.hidden {
  display: none;
}

.nav{
margin-top: 100px;
}

#submit {
  min-width: 150px;
  min-height: 50px;
  background-color: lightblue;
  margin: 20px;
}

#easify{
  min-width: 70px;
  min-height: 30px;
  font-size: 0.7rem;
}

#display-correct {
  min-width: 70px;
  min-height: 30px;
  background-color: lightgreen;
  font-size: 0.7rem;
}

#display-adjacent {
  min-width: 70px;
  min-height: 30px;
  background-color: #ffd61f;
  font-size: 0.7rem;
}

#display-wrong {
  min-width: 70px;
  min-height: 30px;
  /* background-color: gray; */
  font-size: 0.7rem;
}

/* @keyframes guessanimation {
  100% {
    height:100%;
    width: 100%;
  }
} */
@media screen and (max-width: 600px) {
  button {
    min-width: 250px;
    min-height: 70px;
  }

  .board {
    grid-template-columns: repeat(var(--pixels), 40px);
    grid-template-rows: repeat(var(--pixels), 40px);
  }

  .message {
    margin: 7px;
    font-size: 18px;
  }

  #submit {
    margin: 20px;
  }

  #easify{
    min-width: 200px;
    min-height: 40px;
    margin: 7px;
  }

  #display-correct {
    min-width: 150px;
    min-height: 40px;
    margin: 7px;
    background-color: lightgreen;
    font-size: 1rem;
  }

  #display-adjacent {
    min-width: 150px;
    min-height: 40px;
    margin: 7px;
    background-color: #ffd61f;
    font-size: 1rem;
  }

  #display-wrong {
    min-width: 150px;
    min-height: 40px;
    margin: 7px;
    /* background-color: gray; */
    font-size: 1rem;
  }

}
